@import "common/scss/colors.scss";

.mana-bar {
    display: flex;
    height: 11px;
    align-items: center;
    .mana-icon {
        max-width: 15px;
        height: 100%;
        margin-right: 5px;
        rect.mana-available {
            fill: $color-mana;
            animation: glow 1.5s infinite;
        }
    }
}

@keyframes glow {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}
