@import "../../../../common/scss/colors.scss";

.combat-numbers-container {
    z-index: 1;
    font-size: 2em;
    color: $color-damage-physical;

    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    text-align: center;

    .combat-numbers {
        text-align: center;
        z-index: 50;
        margin-top: 30px;
    }

    .combat-number {
        animation: fadeCombatNumber 1s;
        opacity: 0;
        height: 0px;
    }
}

@keyframes fadeCombatNumber {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    10% {
        opacity: 1;
        transform: scale(1.2);
    }

    20% {
        transform: scale(1);
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.combat-number {
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    font-weight: 700;
    font-size: 2.5em;
}
