@import "../../../../common/scss/colors.scss";

.ability-icon {
    border-radius: 0;
    border: 1px solid rgb(46, 46, 46);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}
.unit-abilities {
    width: 200px;
    height: auto;
    margin-top: 5px;
    background-color: $color-secondary;
    border: 1px solid $color-secondary-v1;
    bottom: 20vh;
    z-index: 1000;

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    &.is-targeting {
    }

    button {
        width: 100%;
        height: 35px;
        padding: 0;
        background: none;
        position: relative;
        text-align: left;
        display: grid;
        align-items: center;
        grid-template-columns: 30px auto;
        border: none;

        &:hover {
            opacity: 0.8;
        }

        &.targeting img {
            border: 1px solid $color-ability-default;
        }

        &.toggled-on {
            border: 2px solid $color-blocking;
        }

        &[disabled] {
            border: none;
            &.toggled-on {
                border: 2px solid $color-blocking;
            }
            img {
                opacity: 0.3;
                border: 1px solid transparent;
            }
            .ability-label {
                color: darken($color-text, 30%);
            }
        }

        svg {
            width: 100%;
            height: 100%;
        }

        .ability-keybinding {
            position: absolute;
            font-weight: bold;
            font-size: 1.4em;
            top: 2px;
            left: 4px;
            color: $color-ability-default;
            text-shadow: 0px 0px 2px black;
        }

        .ability-label {
            color: $color-text;
            width: 100%;
            .mana-bar {
                left: 42px;
                position: absolute;
            }
            p {
                font-size: 0.9em;
                text-align: right;
                display: inline;
                float: right;
                margin-right:5px;
            }
        }
    }

    .ability-icon {
        float: left;
        height: 31px;
        width: 31px;
    }

    .ability-details {
        .ability-header {
            display: grid;
            grid-template-columns: 60px auto;
            align-items: center;
            .ability-icon {
                width: 50px;
                height: 50px;
                margin: 8px;
            }
            .ability-label {
                margin-left: 10px;
                font-size: 1.2em;
            }
        }
        .mana-bar {
            margin-bottom: 20px;
        }
        .ability-description {
            padding-left: 8px;
            padding-right: 8px;
            margin-bottom: 20px;
        }
    }
}
