$color-primary: #010705;
$color-secondary: #202222;
$color-secondary-v1: #2c3030;

$color-highlight: #92e487;
$color-text: #dfdfdf;
$color-enemy: #e66d64;

$color-friendly: #76cf9e;

$color-ability-default: #f8ca65;

$color-targeting: #c7080880;

$color-damage-physical: $color-enemy;

$color-blocking: #0da9e7;