$color-primary: #010705;
$color-secondary: rgb(1, 27, 14);
$color-secondary-v1: #7b7e7d;

$color-friendly-outline: #5c7c74;
$color-friendly-background: rgb(1, 27, 14);
$color-friendly-glow: #116611;

$color-enemy-outline: #774956;
$color-enemy-background: rgb(27, 1, 3);
$color-enemy-glow: #661111;

$color-highlight: #92e487;
$color-text: #dfdfdf;
$color-greentext:  #c9fae2;
$color-enemy: #d06962;

$color-mana: #4949f8;
$color-mana-darker: #0c4367;

$color-friendly: #85bfa4;

$color-ability-default: #f8ca65;

$color-targeting: #c7080880;

$color-damage-physical: $color-enemy;

$color-blocking: #0da9e7;