$color-primary: #010705;
$color-secondary: #1c1d1c;
$color-secondary-v1: #1f2525;

$color-highlight: #92e487;
$color-text: #dfdfdf;
$color-enemy: #e66d64;

$color-friendly: #87e4b1;

$color-ability-default: #f0e372;