@import "../../../common/scss/colors.scss";

.unit {
    display: inline-block;
    position: relative;
    width: 140px;
    height: 162px;

    &.blocking {
    }

    &.selected-unit .unit-info {
        border: 1px solid $color-highlight;
    }

    &.dead .unit-name {
        text-decoration: line-through;
    }

    .unit--content {
        height: 100%;
    }

    .anchor-point {
        position: absolute;
        width: 0;
        left: 50%;
    }

    &.friendly {
        box-shadow: 0 0 8px $color-friendly-glow;
        .anchor-point {
            top: 0;
        }
    }
    &.enemy {
        box-shadow: 0 0 8px $color-enemy-glow;
        .anchor-point {
            bottom: -15px;
            left: calc(50% - 5px);
        }
    }
}

@keyframes attack-from-friendly {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes attack-from-enemy {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
    }
}

.taking-damage-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

@keyframes taking-damage {
    0% {
        background-color: rgba(228, 34, 34, 0.288);
    }
    100% {
        background-color: transparent;
    }
}

@keyframes blocking-damage {
    0% {
        background-color: rgba(21, 126, 224, 0.514);
    }
    100% {
        background-color: transparent;
    }
}