@import "common/scss/colors.scss";

// screen size less than 250px
@media (max-width: 400px) {
    .unit {
        width: 90px;
    }
}   

.unit {
    display: inline-block;
    position: relative;
    width: 140px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;

    .anchor-point {
        position: absolute;
        width: 0;
        left: 50%;
    }

    &.enemy {
        .anchor-point {
            bottom: -15px;
            left: calc(50% - 5px);
        }
        box-shadow: 0 0 8px $color-enemy-glow;
        background-color: $color-enemy-background;
        border: 1px solid $color-enemy-outline;

        .hp-bar-progress {
            border-color: $color-enemy-outline;
        }
    }

    &.friendly {
        box-shadow: 0 0 8px $color-friendly-glow;
        background-color: $color-friendly-background;
        border: 1px solid $color-friendly-outline;

        .anchor-point {
            top: 0;
        }
        .hp-bar-progress {
            border-color: $color-friendly-outline;
        }
    }

    &.friendly.selected-unit {
        border: 1px solid $color-highlight;
    }

    .unit-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.taking-damage-overlay {
    z-index: 20;
    background-color: transparent;
}

@keyframes attack-from-friendly {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes attack-from-enemy {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
    }
}


@keyframes taking-damage {
    0% {
        background-color: rgba(228, 34, 34, 0.952);
    }
    100% {
        background-color: transparent;
    }
}

@keyframes blocking-damage {
    0% {
        background-color: rgba(21, 126, 224, 0.547);
    }
    100% {
        background-color: transparent;
    }
}
