.targeting-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    z-index: 50;
    border-radius: 0;
    &.is-targeting {
        border: 1px solid rgba(199, 8, 8, 0.5);
        animation: targeting 0.4s infinite ease-in-out;
    }
}

@keyframes targeting {
    0% {
        box-shadow: 0 0 2px rgba(199, 8, 8, 0.5);
    }
    50% {
        box-shadow: 0 0 8px rgba(247, 27, 27, 1);
    }
    0% {
        box-shadow: 0 0 2px rgba(199, 8, 8, 0.5);
    }
}

@keyframes taking-damage {
    0% {
        background-color: rgba(228, 34, 34, 0.164);
    }
    100% {
        background-color: transparent;
    }
}
