@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300;400&display=swap');

html {
    font-family: 'M PLUS 1';
}

.combat-container {
    max-width: 600px;
    font-family: 'Fjalla One'
}

.combat-container h3 {
    font-weight: 400;
}

.units-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.enemy-units-row {
    margin-bottom: 50px;
}

.friendly-units-row {
    margin-top: 50px;
}

.unit {
    display: inline-block;
    position: relative;
    margin: 3px;
    border: 1px solid black;
    width: 140px;
    min-height: 150px;
}

.unit.blocking {
    margin: 10px;
    border: 3px solid rgb(13, 169, 231);
}

.unit h3 {
    margin-bottom: 7px;
    margin-top: 0;
}

.dead .unit-name {
    text-decoration: line-through;
}

.unit-container {
    margin: 5px;
    width: 130px;
}

.targeting-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(177, 20, 20, 0.3);
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    z-index: 50;
    border: 1px solid rgba(199, 8, 8, 0.5);
    animation: targeting 0.4s;
    animation-iteration-count: infinite;
}

@keyframes targeting {
    0% {
        border-width: 1px;
    }
    50% {
        border-width: 4px;
    }
    0% {
        border-width: 1px;
    }
}

.combat-numbers-container {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.315);
    font-size: 2em;
    color: rgb(189, 18, 18);

    position: absolute;
    pointer-events: none;
}

.combat-numbers {
    display: grid;
    align-items: center;
    position: absolute;
    width: 100px;
    text-align: center;
}

.combat-number {
    font-family: 'Fjalla One';
    animation: fadeCombatNumber 1s;
    opacity: 0;
    height: 0px;
}


@keyframes fadeCombatNumber {
    0% {
        opacity: 0;
        transform: scale(0.8)
    }

    10% {
        opacity: 1;
        transform: scale(1.2)
    }

    20% {
        transform: scale(1)
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.cast-bars-container {
    height: 40px;
    width: 100%;
}

.cast-bars-container.enemy-castbars {
    position: absolute;
    width: 130px;
    bottom: 0;
    z-index: 1;
}

button {
    width: 125px;
    height: 42px;
    border: 1px solid black;
    border-radius: 0;
    margin: 6px 3px 3px 3px;
    font-size: 0.8em;
}

button[disabled] {
    border-color: white;
    color: grey;
}

.cast-bar {
    display: grid;
    grid-template-columns: 30px auto;
    height: 30px;
}

.hp-bar {
    display: grid;
    grid-template-columns: 30px auto;
    align-content: center;
    align-items: center;
    text-align: center;
}

.effect-icon-container {
    padding: 0px;
    height: 30px;
    width: 20px;
    display: grid;
    align-items: center;
    align-content: center;
    border: 1px solid black;
}

.effect-icon-container .effect-icon {
    text-align: center;
}

.cast-bar-label {
    position: absolute;
    margin-left: 10px;
    color: black;
    font-size: 0.8em;
}

h1 {
    font-size: 2em;
    line-height: 1.6;
}

h2 {
    font-size: 1.6em;
    line-height: 1.6;
}

h3 {
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.6;
}

ul {
    margin-left: 10px;
    margin-bottom: 10px;
}

.character-info-container li, p {
    line-height: 1.4;
}

.character-info-container {
    max-width: 600px;
    display: flex;
    justify-content: center;
    padding:10px;
    text-align: left;
}

.character-info .hp-bar {
    margin-left: 10px;
    margin-bottom: 10px;
}

.character-info {
    max-width: 180px;
    padding: 10px;
    border: 1px solid black;
}

.unit-manager-screen {
    text-align: center;
}

.game-start-screen {
    padding-top: 50px;
    text-align: center;
}