@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.unit {
    display: inline-block;
    margin: 10px;
    border: 1px solid black;
    width: 100px;
    height: 200px;
    padding: 5px;
}

.unit h3 {
    font-size: 1.3em;
    margin-bottom: 7px;
}

.unit-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.targeting-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(177, 20, 20, 0.3);
    cursor: pointer;
    border: none;
}

.combat-numbers-container {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.315);
    font-size: 2em;
    font-family: 'Fjalla One';
    color:rgb(189, 18, 18);

    position: relative;
    pointer-events: none;
}

.combat-numbers {
    display: grid;
    align-items: center;
    position: absolute;
    width: 80px;
    text-align: center;
}

.combat-number {
    animation: fadeCombatNumber 1s;
    opacity: 0;
    height: 10px;
}


@keyframes fadeCombatNumber {
    0% {
        opacity: 0;
        transform: scale(0.8)
    }
    10% {
        opacity: 1;
        transform: scale(1.2)
    }
    20% {
        transform: scale(1)
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.cast-bars-container {
    height: 40px;
}

.ability-button {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 0;
    margin: 3px;
}

.ability-button[disabled] {
    border-color: white;
}