.unit {
    display: inline-block;
    margin: 10px;
}

.unit-container {
    position: relative;
    width: 100px;
    height: 100px;
}

.targeting-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(177, 20, 20, 0.3);
    cursor: pointer;
}