@import "common/scss/colors.scss";

.enemy-action-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: -45px;
    img {
        width: 25px;
        height: 25px;
        margin: 5px;
        border: 1px solid $color-secondary-v1;
    }
    .combat-number {
        margin-top: 3px;
        color: $color-damage-physical;
    }
}
